/* Add your CSS styles here */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.error {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
}

.success {
    color: #008000;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo2 {
    size: 50px;
}
