/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    background-color: #8d5edf;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #7b16c4;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.dashboard-container {
    text-align: center;
    margin-top: 50px;
}

.dashboard {
    background-color: #c51a94;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add this CSS style for the logo */
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.logo2 {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}